{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Portfolio{% endblock %}</title>
    
    <!-- CSS de base -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    <!-- Bloc pour le CSS additionnel spécifique à chaque page -->
    {% block extra_css %}{% endblock %}
    
</head>
<body>
    <!-- Inclure la navbar -->
    {% include 'includes/navbar.html' %}

    <!-- Contenu principal -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Inclure le footer -->
    {% include 'includes/footer.html' %}

    <!-- JavaScript de base -->
    <script src="{% static 'js/scripts.js' %}"></script>
    
    <!-- Bloc pour le JavaScript additionnel spécifique à chaque page -->
    {% block extra_js %}{% endblock %}
</body>
</html>