{% load static %}

<nav>
    <div class="navbar-container">
        <a href="{% url 'about' %}" class="navbar-logo">SOME Fiarma Landry</a>
        <ul class="navbar-links" id="navbarLinks">
            <li><a href="{% url 'about' %}">À Propos</a></li>
            <li><a href="{% url 'education' %}">Cursus</a></li>
            <li><a href="{% url 'project' %}">Projets</a></li>
            <li><a href="{% url 'skill' %}">Expériences</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
        <button class="navbar-toggle" id="navbarToggle" aria-label="Toggle navigation">
            <span class="hamburger"></span>
        </button>
    </div>
</nav>